<div class="main__container">

    {% element 'snippets/rulers' %}

    <section class="page-home__banner page-home__banner--grid">
        <div class="page-home__container">
            <ul class="page-home__mini-banner">
                <li class="page-home__mini-banner--item" > {% element 'snippets/banner' {'name': 'extra1'} %} </li>
                <li class="page-home__mini-banner--item" > {% element 'snippets/banner' {'name': 'extra2'} %} </li>
                <li class="page-home__mini-banner--item" > {% element 'snippets/banner' {'name': 'extra3'} %} </li>
                <li class="page-home__mini-banner--item" > {% element 'snippets/banner' {'name': 'extra4'} %} </li>
                <li class="page-home__mini-banner--item" > {% element 'snippets/banner' {'name': 'extra5'} %} </li>
            </ul>
        </div>
    </section>

    <!-- Departments -->
    {% element 'snippets/methods' %}

    <!-- Showcase 01 -->
    {% set products = Products({
    'categories': settings.showcaseCategory01,
    'filter': settings.showcaseFilter01,
    'limit': settings.showcaseQuantity01,
    'order': {'quantity_sold': 'desc' }
    }) %}

    {% if settings.showcaseShow01 %}

    {% if settings.activeCarousel %}
    {% element 'showcase' {
    "products": products,
    "showcaseTitle": settings.showcaseTitle01,
    "showcaseSubtitle": settings.showcaseSubtitle01,
    "carousel": settings.showList1
    } %}
    {% else %}
    {% element 'showcase' {
    "products": products,
    "showcaseTitle": settings.showcaseTitle01,
    "showcaseSubtitle": settings.showcaseSubtitle01,
    "carousel": 'false'
    } %}
    {% endif %}
    {% endif %}
    <!-- end Showcase 01 -->

    <!-- Marcas -->
    {% element 'snippets/brands' %}

    <!-- Showcase 02 -->
    {% set products = Products({
        'categories': settings.showcaseCategory02,
        'filter': settings.showcaseFilter02,
        'limit': settings.showcaseQuantity02,
        'order': {'quantity_sold': 'desc' }
        }) %}
        
        {% if settings.showcaseShow02 %}
        
        {% if settings.activeCarousel %}
        {% element 'showcase' {
        "products": products,
        "showcaseTitle": settings.showcaseTitle02,
        "showcaseSubtitle": settings.showcaseSubtitle02,
        "carousel": settings.showList2
        } %}
        {% else %}
        {% element 'showcase' {
        "products": products,
        "showcaseTitle": settings.showcaseTitle02,
        "showcaseSubtitle": settings.showcaseSubtitle02,
        "carousel": 'false'
        } %}
        {% endif %}
        {% endif %}
        <!-- end Showcase 02 -->

    <section class="page-home__banner page-home__banner--grid">
        <div class="page-home__container">
            <div class="page-home__banner-list">
                <div class="page-home__banner-item">{% element 'snippets/banner' {'name': 'extra6'} %}</div>
                <div class="page-home__banner-item">{% element 'snippets/banner' {'name': 'extra7'} %}</div>
            </div>
        </div>
    </section>

</div>
<!-- Noticias -->

{% element 'snippets/news' %}

<div class="main__container">
    <!-- Showcase 03 -->
    {% set products = Products({
    'categories': settings.showcaseCategory03,
    'filter': settings.showcaseFilter03,
    'limit': settings.showcaseQuantity03,
    'order': {'quantity_sold': 'desc' }
    }) %}

    {% if settings.showcaseShow03 %}

    {% if settings.activeCarousel %}
    {% element 'showcase' {
    "products": products,
    "showcaseTitle": settings.showcaseTitle03,
    "showcaseSubtitle": settings.showcaseSubtitle03,
    "carousel": settings.showList3
    } %}
    {% else %}
    {% element 'showcase' {
    "products": products,
    "showcaseTitle": settings.showcaseTitle03,
    "showcaseSubtitle": settings.showcaseSubtitle03,
    "carousel": 'false'
    } %}
    {% endif %}
    {% endif %}
    <!-- end Showcase 03 -->
</div>
